#toolBox .toolTitle {
	width:100%; padding-top:5px; padding-bottom:5px; border-bottom:1px solid #333; background-color:#EEE; font-weight:bold; text-indent:5px; font-size:11px;
}

#toolBox .titleIcon {
	margin-right:5px;
}

#toolBox .toolCategory {
	width:100%; border-bottom:1px solid #333; background-color:#FAFAFA; font-weight:bold; padding-top:3px; padding-bottom:3px; text-indent:24px; font-size:11px;
}

#toolBox .categoryIcon {
	background-image:url('../../image/org.uizard.core.layout/item_toolBoxCategory.png'); background-repeat:no-repeat; background-position: 3px 3px;
}

#toolBox .toolItem {
	cursor:pointer; width:100%; border-bottom:1px solid #ccc; padding-top:3px; padding-bottom:3px; text-indent:24px; font-size:11px;
}

#toolBox .itemIconLine {
	background-image:url('../../image/org.uizard.core.design/item_line.png'); background-repeat:no-repeat; background-position: 3px 3px;
}

#toolBox .itemIconSquare {
	background-image:url('../../image/org.uizard.core.design/item_square.png'); background-repeat:no-repeat; background-position: 3px 3px;
}

#toolBox .toolItem:hover{
	background-color:#B3D4FF;
}